.page-content{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: var(--primary-padding);
    .page-content__left{
        flex: 25% 0 0;
        max-width: var(--sidebar-width);
    }
    .page-content__middle{
        flex: 50% 0 0;
        max-width: var(--feed-width);
    }
    .page-content__right{
        flex: 25% 0 0;
        max-width: var(--sidebar-width);
    }
}